body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

::selection {
  background-color: #009688;
  color: #fff;
}

.container-custom {
  min-width: 100vh;
  min-height: 100vh;
}

.is-hover {
  background-color: #ff0090;
}

.border-card {
  border-radius: .25rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  overflow-x: hidden;
}


.tooltip-info {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  max-width: 100%;
  position: absolute;
  visibility: hidden;
  font-size: 16px;
  padding: 16px;
  z-index: 500;
}

.input-help {
  display: none;
}

.exec-result {
  display: none;
  border-radius: 0px;
}

.help {
  font-size: .75rem;
  margin-top: .25rem;
}

.show {
  display: block;
}

.file-name {
  max-width: 100em !important;
}